<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Watcher</title>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
    <!-- <link href="/stylesheets/debug.css" rel="stylesheet" type="text/css"> -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
</head>
<body>