<!-- Hero Header -->
<nav class="navbar is-spaced is-black" role="navigation" aria-label="main navigation">
  <a class="navbar-item">
    <p class= "has-text-weight-semibold	is-size-3"><span class="has-text-white">Stock</span><span class="has-text-info">Watchers</span></p>
  </a>
  <div class="navbar-brand">
    <a class="navbar-item active center" href="/stocks">Home</a>
  </div>
  <div class="navbar-brand">
    <a class="navbar-item active center" href="/stocks/search">Search</a>
  </div>


  </div>
    <div class="navbar-end">
      <% if (user) { %>
      <a class="navbar-item active center" href="/logout">Log Out</a>
      <% } else { %>
      <a class="navbar-item active center" href="http://localhost:3000/auth/google">Login</a>
      <% } %>
    </div>
</nav>