<!-- Hero Header -->
<section class="hero has-background-white">
    <div class="hero-body">
        <div class="container center">
          <figure class="image center">
            <img src="img/usethis.png"style="max-width: 200px">
          </figure>
        </div>
    </div>
</section>
<nav class="navbar is-spaced is-light" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item active center" href="/stocks">Home</a>
    </div>
    <div class="navbar-brand">
      <a class="navbar-item active center" href="/stocks/search">Search</a>
    </div>


  </div>
    <div class="navbar-end">
      <% if (user) { %>
      <a class="navbar-item active center" href="/logout">Log Out</a>
      <% } else { %>
      <a class="navbar-item active center" href="http://localhost:3000/auth/google">Login</a>
      <% } %>
    </div>
</nav>